#!/usr/bin/make -f

export DH_VERBOSE = 1
export PYBUILD_NAME=prosody-stt

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_test:
	# Skip tests during package building as they require special environment setup
	@echo "Skipping tests during Debian package build"

override_dh_auto_install:
	dh_auto_install
	# Build the self-contained bundle
	./build-bundle.sh
	# Copy the entire bundle
	cp -r debian/prosody-bundle/opt debian/prosody-stt/
	# Install systemd user service
	install -D -m 644 prosody.service debian/prosody-stt/usr/lib/systemd/user/prosody.service
	# Also install service file where postinst can find it
	install -D -m 644 prosody.service debian/prosody-stt/usr/share/prosody-stt/prosody.service
	# Create wrapper script
	install -D -m 755 debian/prosody-wrapper debian/prosody-stt/usr/bin/prosody

override_dh_python3:
	# Don't auto-generate Python dependencies since we handle them in wrapper
	dh_python3 --no-ext-rename --no-guessing-deps

override_dh_installchangelogs:
	dh_installchangelogs

override_dh_installdocs:
	dh_installdocs README.md

override_dh_shlibdeps:
	# Skip automatic dependency generation
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_gencontrol:
	# Override the python3:Depends substitution variable
	echo "python3:Depends=python3:any" >> debian/prosody-stt.substvars
	echo "misc:Depends=" >> debian/prosody-stt.substvars
	dh_gencontrol